# Generated
*.d
*.o
*.a
demo-*
.demo-*
mado-perf
.mado-perf
font-edit
.font-edit

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Vim session
Session.vim
Sessionx.vim

# Tag files
tags

# Python
__pycache__/
*.pyc

# Configuration
.config
.config.old
config.h

# CI pipeline
expected-format
