CONFIG_CONFIGURED=y
# CONFIG_BACKEND_FBDEV is not set
CONFIG_BACKEND_SDL=y

#
# Image Loaders
#
CONFIG_LOADER_PNG=y
CONFIG_LOADER_JPEG=y
# end of Image Loaders

#
# Demo Applications
#
CONFIG_DEMO_APPLICATIONS=y
CONFIG_DEMO_MULTI=y
CONFIG_DEMO_HELLO=y
CONFIG_DEMO_CLOCK=y
CONFIG_DEMO_CALCULATOR=y
CONFIG_DEMO_LINE=y
CONFIG_DEMO_SPLINE=y
# end of Demo Applications
